* {margin: 2px; box-sizing: border-box;}
body {
  background-color: #e6e6e6;
}
article {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
section {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left:0;
  overflow-wrap: break-word;
}
li:nth-child(odd) {background-color: darkgray;}
li:nth-child(even) {background-color: lightgray;}
li {border: 1px solid gray;}
li:hover {background-color: gray;}
